---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Call P.</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Service focused on verifying the operability and correct functioning of Voice services.</li>
                </ol>
            </nav>
        </div>
    </div>
    <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>CALL P SERVICE</h2>
                        <p>Service focused on verifying the operability and correct functioning of Voice, Data, and Text Messaging services after the execution of physical and/or logical changes made during Maintenance Windows.</p>
                        <p class="mt-3">
                            In the event that there are observations with the services involved in the maintenance windows, the person responsible for the correction and/or execution of Rollback of the activities carried out is immediately informed. The corrective actions carried out are confirmed and the operation of the services is verified again (Data, SMS text).
                        </p>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/05.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-5 col-xl-5">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/06.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xl-6  offset-xl-1">
                    <div class="section-title">
                        <h2>OPTIMIZATION</h2>
                        <p>By measuring network quality and performance parameters, this service allows the study and analysis of results to optimize and improve each station and its first ring, providing end users with a quality voice and data service and mobile operators with a reliable and quality Mobile Network.</p>
                        <p class="mt-3">
                            The Service includes the measurement of network quality and performance parameters and the analysis of the main KPIs in order to provide the operator with a network with the highest performance.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>