---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
        <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Civil Works</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">We manage the Minor Civil Works Services project for Telefónica, another of our clients is PUNTONET, which has entrusted us with the Civil Works Maintenance Project for the Tx nodes.</li>
                </ol>
            </nav>
        </div>
    </div>
        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>CIVIL WORKS AND RENOVATIONS</h2>
                        <p>Empsertel S.A has extensive experience in the planning, design, construction and supervision of minor civil engineering works.</p>
                        <ul class="list-service mt-3">
                            <li>Washing, painting and torque of towers and monopoles.</li>
                            <li>Cleaning of weeds, rodents, termites, etc.</li>
                            <li>Construction of concrete bases for generators.</li>
                            <li>Installation, maintenance and camouflage change.</li>
                            <li>Uninstallation of discontinued electronic equipment.</li>
                            <li>Plumbing and masonry.</li>
                            <li>Painting, repair of concrete and mesh enclosures.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/011.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>