---
import Layout from "~/layouts/Layout.astro";
---

<Layout>
    <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Network Deployment</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">The Site Acquisition service has been provided to our Client INMOAVILES S A at a National Level, being a reliable and quality service.</li>
                </ol>
            </nav>
        </div>
    </div>

    <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>SITE ADQUISITION</h2>
                        <p>Backed by our professional experience in RF (Radio Frequency) services, the objective of the Site Acquisition Service is to locate suitable and viable options (for all areas involved) in the Acquisition of Properties for the Installation of new Base Stations.</p>
                        <h5 class="mt-5 mb-2">The service includes:</h5>
                        <ul class="list-service">
                            <li>Technical study of the search area, pre-feasibility analysis.</li>
                            <li>Search for sites according to the needs of the target client 3 viable options depending on the search area.</li>
                            <li>Lease Agreements and other technical and negotiation requirements prior to approval of the option/s by the Mobile Operator.</li>
                            <li>Negotiation of enabling documents for drafting the contract.</li>
                            <li>Follow-up of permit procedures, and closing and signing of the contract, delivery of the signed contract.</li>
                        </ul>
                        <p class="mt-5">
                            The Site Acquisition service has been provided to our Client INMOAVILES S A at a National Level, being a reliable and quality service, focused on meeting the technical and commercial objectives set by our Client.                        </p>
                        <h5 class="mt-5 mb-2">The Requirements Assignment is detailed below:</h5>
                        <ul class="list-service">
                            <li>Search for Sites 12 sites validated for the 3 Mobile Operators in the country.</li>
                            <li>Hiring of Sites 8 signing of Contracts.</li>
                            <li>Permit Management 5 obtaining Construction and Firefighter permits.</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/01.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>