---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
        <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Optical fiber</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">We have staff in charge of managing structured cabling projects,
                        maintenance, repair and installation.</li>
                </ol>
            </nav>
        </div>
    </div>
        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-5 col-xl-5">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/010.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xl-6  offset-xl-1">
                    <div class="section-title">
                        <h2>MISCELLANEOUS WORKS</h2>
                        <p>
                            Structured cabling projects, maintenance, repair and installation of last mile projects, GPON networks made with Optical Fiber and/or Copper; supervision and inspection of field work, design of local and wide area network systems.                        </p>
                        <ul class="list-service mt-3">
                            <li>Design and construction of GPON FO networks for external plants.</li>
                            <li>Construction of ODNs.</li>
                            <li>FO laying.</li>
                            <li>Last Mile, FTTH.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</Layout>