---
import Layout from "~/layouts/Layout.astro";
---
<Layout>
        <div class="page-banner-wrap text-center bg-cover" style="background-image: url('/assets/img/page-banner.jpg')">
        <div class="container">
            <div class="page-heading text-white">
                <h1>Radiofrequency engineering</h1>
            </div>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/"></a></li>
                    <li class="breadcrumb-item active" aria-current="page">Implementation of new sites planning is based on an analysis based on compliance with technical objectives that are verified during field validation.</li>
                </ol>
            </nav>
        </div>
    </div>

        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-5 col-xl-5">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/02.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xl-6  offset-xl-1">
                    <div class="section-title">
                        <h2>DRIVE TEST</h2>
                        <p>Drive Test and static test execution service at a national level for the evaluation of GSM, UMTS and LTE technologies in the respective operating bands of national operators.</p>
                        <h5 class="mt-5 mb-2">El servicio incluye:</h5>
                        <ul class="list-service">
                            <li>Test sets with Tems Investigation v 16 x, v 19 x, v 20 x Tems Discovery v 12 x</li>
                            <li>Smartphone test equipment.</li>
                            <li>Post Process Report.</li>
                            <li>Analysis of results.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-7 col-xl-6">
                    <div class="section-title">
                        <h2>SEARCH RADIUS & PLANNING</h2>
                        <p>Prior to the deployment and implementation of new sites, planning is based on an analysis based on the fulfillment of technical objectives that are verified during field validation.</p>
                    </div>
                </div>
                <div class="col-md-5 col-xl-5  offset-xl-1">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/03.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

        <section class="testimnial-carousel-wrapper" id="despliegue_red">
        <div class="container">
            <div class="row align-center">
                <div class="col-md-5 col-xl-5">
                    <div class="contact-img-wrapper">
                        <img src="/assets/img/services/04.jpg" alt="">
                    </div>
                </div>
                <div class="col-md-7 col-xl-6  offset-xl-1">
                    <div class="section-title">
                        <h2>INITIAL TUNNING</h2>
                        <p>Service that allows verifying the interrelation between station implementation and RF design.</p>
                        <p class="mt-3">The process allows for the analysis and detection of hardware problems, logical configuration, verification of handover, quality of voice and data services, verification of correct channel assignment, among others, prior to the commercial commissioning of the site.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

</Layout>